
/* Reset default margin, padding, and text color */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    color: white;
}

/* Global body styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #85090e;
    
}

/* Header styles */
header {
    background-color: #f4e4bc;
    color: #85090e;
    padding: 10px 0;
}


header img {
    max-width: 125px;
    height: auto;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: 0px;
    padding: 0 20px;
    font-size:  18px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #85090e;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #b36b5c;
}

/* User options button styles */
.user-options button {
    background-color: #b36b5c;
    color: white;
    border: none;
    padding: 20px 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.user-options button:hover {
    background-color: #85090e;
}

/* Content container */
.content-container {
    display: flex;
}

/* Left content styles */
.content-left {
    float: left;
    width: 60%;
    box-sizing: border-box;
}

/* Employee-specific styles */
.employee-schedule {
    background-color: #85090e;
    color: white;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#current-date {
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

.my-week {
    max-width: 2000px;
    margin-top: -15px;
    padding: 20px;
}

.my-week h3 {
    font-size: 24px;
}

.my-week span {
    font-weight: bold;
    color: #85090e;
}



/* Box styles */
.box {
    background-color: #b36b5c;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


#clock-button {
    background-color: #b36b5c;
    color: white;

    padding: 10px; 
    font-size: 20px; 
}

#break-button {
   
    background-color: #b36b5c;
    color: white;

    padding: 10px; 
    font-size: 20px; 
}

#break-button:hover {
    background-color: #85090e;
}



/* PIN entry styles */

.pin-entry h3 {
    font-size: 24px; 
}

.pin-input {
    width: 150px;
    height: 40px;
    font-size: 24px;
}

.pin-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 200px;
}

.pin-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #b36b5c;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pin-cell:hover {
    background-color: #b36b5c;
    color: #fff;
}

#user {
    background-color: #b36b5c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #f4e4bc;
}

#user i {
    margin-inline: 11px;
    background-color: #b36b5c;
    padding: 6px;
    font-size: 20px;
    border-radius:  m4px;
    color: #f4e4bc;
}

#user:hover {
    background-color: #b36b5c; 
}
