/* Reset default margin, padding, and text color */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    color: white;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    background-image: url('../assets/welcome.png');
    opacity: 0.8;
} 



/* Header styles */
header {
    background-color: #f4e4bc;
    color: #85090e;
    padding: 20px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header img {
    max-width: 125px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 30px; 
}

.icons a {
    display: flex;
    align-items: center;
    background-color: #b36b5c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #f4e4bc;
    text-decoration: none;
}

.icons a:hover {
    background-color: #85090e;
}

.icons i {
    margin-inline: 11px;
    background-color: #b36b5c;
    padding: 6px;
    font-size: 20px;
    border-radius: 4px;
    color: #f4e4bc;
}


.logo {
    font-size: 20px;
}
.logo img {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 250px;
    position: static;
    position:fixed; 
    top:0; 
    left:0;
    opacity: 0.5;
}

.welcome-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

 h2 {
    font-size: 32px; 
    margin-top: 30px; 
    font-weight:bolt;
    color:#85090e;
    margin-left:100px;
}

img#welcome-image{
    margin-top:10px;
    width: 800px;
    height:400px 

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: 200px;
    padding: 0 20px;
    font-size:  18px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #85090e;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #b36b5c;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}


.nav-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
}

ul.home-page-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.home-page-ul li {
    margin: 40px 50px;
}

ul.home-page-ul li a {
    display: block;
    background-color:#85090e; 
    color: white;
    text-decoration: none;
    padding: 50px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 28px;
}


ul.home-page-ul li a i {
    font-size: 36px !important; 
}

ul.home-page-ul li a:hover {
    background-color: #85090e;
}


div.user-options button:hover {
    background-color: #85090e;
}


.menu-management {
    background-color: #85090e;
    color: white;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-management h2 {
    font-size: 24px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #000; }

th, td {
    padding: 8px;
    text-align: left;
}


th {
    border-bottom: 2px solid #000; 
}


/* Employee Management styles */
.employee-management {
    background-color: #85090e;
    color: white;
    padding: 40px 20px;
    max-width: 1200px;
    margin-top: 0;
}

.employee-management h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;

}

.employee-management table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

.employee-management table th {
    background-color: #b36b5c;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.employee-management table td {
    padding: 10px;
    border-bottom: 1px solid #b36b5c;
}



.search-bar {
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4e4bc;
}

/* Style the icons */
.edit-icon, .remove-icon {
    margin: 0 10px;
    cursor: pointer;
    color: #85090e;
    font-size: 20px;
    transition: color 0.3s;
}

.edit-icon:hover, .remove-icon:hover {
    color: #b36b5c;
}
.add-employee {
    margin-top: 20px; 
}

#add-employee-btn {
    background-color: #b36b5c; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 100px;
}

#add-employee-btn:hover {
    background-color: #85090e; 
}

#user {
    background-color: #b36b5c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #f4e4bc;
}

#user i {
    margin-inline: 11px;
    background-color: #b36b5c;
    padding: 6px;
    font-size: 20px;
    border-radius:  m4px;
    color: #f4e4bc;
}

#user:hover {
    background-color: #b36b5c; 
}






