*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #fff;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #f4e4bc;
    color: #85090e;
    padding: 12px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;

}
.navbar ul {
    display: flex;
    align-items: center;
    
}
.navbar ul li {
    list-style: none;

}
.navbar ul li a {
    text-decoration: none;
    margin-inline: 20px;
    font-size: 16px;
    color: #85090e;
}
.navbar ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
}
/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn {
    background-color: #b36b5c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    color: #f4e4bc;
}
.dropbtn:hover {
    background-color: #85090e;
}

.dropdown-content {
    float:none;
    text-decoration: none;
    margin-inline: 10px;
    font-size: 10px;
    color: #85090e;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 12px;
    z-index: 1;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icons button {
    background-color: #b36b5c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #f4e4bc;
}
.icons button:hover {
    background-color: #85090e;
}
.icons i{
    margin-inline: 11px;
    background-color: #b36b5c;
    padding: 6px;
    font-size: 20px;
    border-radius: 4px;
    color: #f4e4bc;
}

.logo {
    font-size: 20px;

}
.logo img {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 250px;
    position: static;
    top:0; 
    left: 0;
}
.main {
    display: flex;
    justify-content: space-around;
    padding: 44px;
    background-color: #85090e;
    color: #fff;
    margin-top: 80px;
    background-image: url('../assets/preparation.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainText {
    margin-top: 97px;
}
.mainText h1{
    font-size: 55px;
}
.mainText h1 span{
    color: #b36b5c;
}
.mainText h3{
    font-size: 33px;
    margin-top: 15px;
}
.mainText h3 span{
    color: #b36b5c;
}
.mainText p{
    margin-top: 15px;
}
.mainText button{
    font-size: 20px;
    width: 140px;
    height: 38px;
    background-color: #b36b5c;
    color: #85090e;
    border: 2px solid #b36b5c;
    margin-top: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.mainText button:hover{
    background-color: #f4e4bc;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 22px;
}
.foodcard {
    height: 360px;
    margin-inline: 11px;
    background-color: #fff;
}
.foodcard img{
    width: 100%;
    height: 200px;
}
.foodcard h3 {
    margin-left: 11px;
    margin-top: 11px;
}
.foodcard p {
    margin-left: 11px;
    margin-top: 11px;
}
.foodcard span {
    margin-left: 11px;
    margin-top: 11px;
    width: 80px;
    height: 28px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #b36b5c;
}

.head {
    text-align: center;
    padding: 55px;
    color: #85090e;
}
.reviews {
    width: 800px;
    height: 250px;
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: 50;
}

.crd {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-style: italic;
    transition: all 1s ease;
}

.crd img {
    width: 22%;
    height: 150px;
    border-radius: 50%;
    margin-top: 11px;
}

.my-form {
    z-index: 50;
    width: 800px;
    position: relative;
    margin:  auto;
    overflow: hidden;
    margin-top: 50px;
    padding: 3%;
    font-size: 18px;
    font-weight: bold;
    background-color: #85090e;
}
.my-form p {
    color: white;
}
  .my-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  .my-form input, .my-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .my-form button {
    font-size: 20px;
    width: 140px;
    height: 38px;
    background-color: #b36b5c;
    color: #f4e4bc;
    border: 2px solid #b36b5c;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .my-form button:hover {
    background-color: #f4e4bc;
    color: #85090e; 
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #f4e4bc;
    color: #85090e;
    padding: 66px;
    margin-top: 44px;
    font-size: 18px;
    font-weight: bold;
  }
  .loginPage {
    display: none;
  }

  .active1 {
    display: block;
    width: 300px;
    padding: 11px;
    border-radius: 4px;
    background-color: #fff;
    position: fixed;
    top: 12%;
    right: 2%;
    font-weight: bold;
    text-align: center;
  }

  .active1 input {
    margin-top: 11px;
    width: 280px;
    padding: 6px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
  }

  .active1 button {
    width: 80px;
    height: 28px;
    background-color: #b36b5c;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 22px;
    font-weight: bold;
  } 
  .line::before {
    content: 'Or';
  }
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; /* Hide by default */
}

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* For small devices (phones) */
    @media screen and (max-width: 400px) {
        .mainText h1 {
            font-size: 33px;
        }

        .mainText h3 {
            font-size: 23px;
        }
        .icons {
            margin-right: 11px;
        }
    } 
  
    @media only screen and (max-width: 600px) {
        /* Adjust the navigation bar */
        .navbar ul {
            flex-direction: column; /* Stack the navigation links vertically */
            align-items: center;
        }
        .navbar ul li {
            margin-bottom: 10px; /* Add space between each navigation link */
        }
        .icons {
            flex-direction: column; /* Stack the buttons vertically */
            align-items: center;
        }
        .crd img {
            height: 80px;
        }
        .form-group {
            width: 50%;
        }
    }

/* For medium-sized devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Modify layout or font sizes if needed */
    ul {
        display: none;
    }
    #bar {
        display: block;
       }
    
    .showData {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        background-color: #f4e4bc;
        top: 75px;
        width: 100%;
        gap: 22px;
    }
    .main {
        display: block;
        text-align: center;
       }
       .reviews {
           width: 90%;
       }
}

/* For larger devices (desktops) */
@media only screen and (min-width: 1025px) {
    /* Keep your default styles or make any necessary adjustments */
}

