<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm to Table::Login Page</title>
    <link rel="stylesheet" href="../css/customer.css" class="stylesheet">
    <link rel="stylesheet" href="../css/styles.css" class="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="navbar">
        <nav>
            <div class="logo">
                <h1></h1>
                <img src="../assets/logo.png" alt="Farm logo">
            </div>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="#featured-menu"><i class="fa-solid fa-book"></i> Menu</i></a></li>
                <li><a href="#featured-menu"><i class="fa solid fa-cutlery"></i> Order</i></a></li>
            </ul>
            <div class="icons">
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
                    <div class="dropdown-content">
                        <ul>
                        <li><a href="#reserve"><i class="fa-solid fa-calendar-days"></i> Reservations</a></li>
                        <li><a href="#review"><i class="fa-solid fa-pen"></i> Reviews</a></li>
                        <li><a href="#apply"><i class="fa-solid fa-phone"></i> Apply</a></li>
                        </ul>
                    </div>
                    </div>
                <button id="employee-btn" onclick="window.location.href='views/employeeHomePage.html';"><i class="fa-solid fa-people-group"></i>Employee</button>
                <button id="user" onclick="window.location.href='views/customerLogin.html';"><i class="fa-solid fa-user"></i>Log In</button>
            </div>
        </nav>
    </div>

    <!--loginPage -->
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Log in</header>
                <form action="#">
                    <div class ="field input-field">
                        <input type="email" placeholder="Email" value="" class="input" id="email"><br>
                    </div>
                    <div class ="field input-field">
                        <input type="password" placeholder="Enter password" value="" class="password" id="password">
                        <i class ='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>
                    <div class ="field button-field">
                        <button>Login</button>
                    </div>
                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Sign up!</a></span>
                    </div>
                </form>
            </div>
            <div class="line"></div>
            <div class="media-options">
                <a href="#" class="field google">
                    <i class="bx bxl-google google-icon"></i>
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
         <!--SignupPage -->
         <div class="form signup">
            <div class="form-content">
                <header>Sign up</header>
                <form action="#">
                    <div class ="field input-field">
                        <input type="email" placeholder="Email" value="" class="input" id="email"><br>
                    </div>
                    <div class ="field input-field">
                        <input type="password" placeholder="Create password" value="" class="password" id="password">
                        <i class ='bx bx-hide eye-icon'></i>
                    </div>
                    <div class ="field input-field">
                        <input type="password" placeholder="Confirm password" value="" class="password" id="password">
                        <i class ='bx bx-hide eye-icon'></i>
                    </div>
                    <div class ="field button-field">
                        <button>Signup</button>
                    </div>
                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Log in!</a></span>
                    </div>
                </form>
            </div>
            <div class="line"></div>
            <div class="media-options">
                <a href="#" class="field google">
                    <i class="bx bxl-google google-icon"></i>
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
    </section>
    <script src="../js/customer.js"></script>
</body>
</html>