<!-- // written by: Bjarni Jonsson -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/employee.css">
    <title>Employee Interface</title>
</head>
<body>
    <header>
        <nav>
            <img src="../assets/logo.png" alt="Farm to Table Logo" onclick="window.location.href='employeeHomePage.html';">
            <ul class="nav-links">
                <li><a href="employeeHomePage.html">Home</a></li>
                <li><a href="managerHome.html">Functions</a></li>
                <li><a href="orderChecks.html">Orders</a></li>
                <li><a href="viewMenu2.html">Menu</a></li>
                <li><a href="serverinterface.html">Tables</a></li>
            </ul>
        </nav>
    </header>

    <div id="all-employees-list" class="all-items-list">
        <h2>Employees</h2>
        <ul id="menu-employees-list"></ul>
        <!-- Employees will be added to list here -->
        <!-- Loading spinner -->
        <div id="loading" class="loading">
            <img id="loading-image" class="loading-image" src="../assets/loading.gif" alt="Loading..." />
        </div>
    </div>
    <br>
    <div id="manage-employees" class="manage-items">
        <h3>Manage Employees</h3>
        <label for="employee-dropdown">Select Employee:</label>
        <select id="employee-dropdown">
            <option value="">New Employee</option>
            <!-- Employees will be dynamically added here -->
        </select>
    </div>

    <div>
        <label for="employee-first-name-input">First Name:</label>
        <input type="text" id="employee-first-name-input" placeholder="Enter first name">
    </div>

    <div>
        <label for="employee-last-name-input">Last Name:</label>
        <input type="text" id="employee-last-name-input" placeholder="Enter last name">
    </div>

    <div>
        <label for="employee-pin-input">PIN:</label>
        <input type="text" id="employee-pin-input" placeholder="Enter PIN">
    </div>

    <div>
        <label for="employee-type-dropdown">Type:</label>
        <select id="employee-type-dropdown">
            <option value="">Select Type</option>
            <!-- Employee types will be dynamically added here -->
        </select>
    </div>
    

    <div>
        <label for="employee-street-input">Street:</label>
        <input type="text" id="employee-street-input" placeholder="Enter street">
    </div>

    <div>
        <label for="employee-city-input">City:</label>
        <input type="text" id="employee-city-input" placeholder="Enter city">
    </div>

    <div>
        <label for="employee-state-input">State:</label>
        <input type="text" id="employee-state-input" placeholder="Enter state">
    </div>

    <div>
        <label for="employee-zip-input">ZIP Code:</label>
        <input type="text" id="employee-zip-input" placeholder="Enter ZIP code">
    </div>

    <div>
        <label for="employee-clocked-dropdown">Clocked State:</label>
        <select id="employee-clocked-dropdown">
            <!-- <option value="">Select State</option> -->
            <option value="0">Out</option>
            <option value="1">In</option>
        </select>        
    </div>

    <div>
        <label for="employee-hourly-rate">Hourly Rate:</label>
        <input type="text" id="employee-hourly-rate" placeholder="Enter hourly rate">
    </div>

    <!-- Buttons for creating or updating an employee -->
    <button id="create-button">Create</button>
    <button id="update-button">Update</button>
    <button id="delete-button">Delete</button>

    <script type="module" src="../js/employeeModify.js" defer></script>
</body>

</html>
