<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Homepage - Farm to Table Restaurant</title>
    <link rel="stylesheet" href="../css/employee.css">
	<script src="employee2.js"></script>
	
</head>
<body>
    <header>
        <nav>
            <!-- <div class="logo">Farm to Table</div> -->
            <img src="logo.png" alt="Farm to Table Logo">
			
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="user-options">
                <button id="Log out">Log out</button>
            </div>
        </nav>
    </header>

    <section class="employee-schedule">
        <h2>Monday, Oct 23 (12am - 5pm)</h2>
        
            <button id="Clock In">Clock In</button>
            
        </div>
        <p id="clock-in-time"></p>
    </section>

    <section class="my-week">
        <h2>My Week</h2>
        <p>Hours Worked: <span id="hours-worked">0</span></p>
        <p>Estimated Earnings: <span id="estimated-earnings">$0</span></p>
        <p>Tips Earned: <span id="tips-earned">$0</span></p>
        <p>Shift Worked: <span id="shift-worked">0 hours</span></p>
    </section>
	
	<br> </br>

    <footer>
        <p>&copy; 2023 Farm to Table Restaurant</p>
    </footer>
	
	
</body>
</html>
