<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Homepage - Farm to Table Restaurant</title>
    <link rel="stylesheet" href="../css/employee.css">
    <script src="../js/employee.js" defer></script>
</head>
<body>
    <header>
        <nav>
           
            <img src="../assets/logo.png" alt="Farm to Table Logo">
            <ul class="nav-links">
                <li><a href='../index.html'>Home</a></li>
                <li><a href="#">Manager Interface </a></li>
                <li><a href="#">Chef Interface</a></li>
                <li><a href="#">Server Interface</a></li>
                
            </ul>
            <button id="user" onclick="window.location.href='index.html';"><i class="fa-solid fa-user"></i>Log Out</button>

        </nav>
    </header>

    <section class="employee-schedule">
        <div id="current-date"></div>
    </section>

    <section class="content-container">
        <section class="content-left">
            <section class="pin-entry">
                <h3>Enter PIN to Clock In</h3>
                
                <div id="pin-table-container">
                    <table class="pin-entry-table">
                        <div class="pin-input-container">
                            <input type="password" id="pin-input" class="pin-input" maxlength="4">
                            <i class="fas fa-eye-slash" id="pin-toggle"></i>
                        </div>
                        
                        <div class="pin-table">
                            <div class="pin-cell" data-value="1">1</div>
                            <div class="pin-cell" data-value="2">2</div>
                            <div class="pin-cell" data-value="3">3</div>
                            <div class="pin-cell" data-value="4">4</div>
                            <div class="pin-cell" data-value="5">5</div>
                            <div class="pin-cell" data-value="6">6</div>
                            <div class="pin-cell" data-value="7">7</div>
                            <div class="pin-cell" data-value="8">8</div>
                            <div class="pin-cell" data-value="9">9</div>
                            <div class="pin-cell" data-value="0">0</div>
                            <div class="pin-cell" id="clear-button">Clear</div>
                        </div>
                        <button id="clock-button">Clock In</button>
                        <br></br>
                        <p id="clock-in-time">Clock In Time: --:--:--</p>
                        <p id="elapsed-time">Elapsed Time: --:--:--</p>
                        <br></b<r>

                        <button id="break-button" style="display: none;">Take a Break</button>
                        
                    
                    </table>
                </div>
            </section>
        </section>



        <section class="content-right">
            <section class="my-week">
                <h3>My Week</h3>
                <div class="box">
                    <p>Hours Worked</p>
                    <span id="hours-worked">0</span>
                </div>
                <div class="box">
                    <p>Break</p>
                    <span id="hours-break">0</span>
                </div>
                <div class="box">
                    <p>Estimated Earnings</p>
                    <span id="estimated-earnings">$0</span>
                </div>
                <div class="box">
                    <p>Tips Earned</p>
                    <span id="tips-earned">$0</span>
                </div>
                <div class="box">
                    <p>Shift Worked</p>
                    <span id="shift-worked">0 hours</span>
                </div>
            </section>
        </section>
    </section>

    <br> </br>

   
</body>
</html>
