<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Employee Interface</title>
</head>
<body>
    <div id="all-employees-list" class="all-items-list">
        <h2>Menu Items</h2>
        <ul id="menu-employees-list"></ul>
        <!-- Menu items will be added to list here -->
    </div>
    <br>
    <div id="manage-employees" class="manage-items">
        <h3>Manage Employees</h3>
        <label for="employee-dropdown">Select Employee:</label>
        <select id="employee-dropdown">
            <option value="">New Employee</option>
            <!-- Menu items will be dynamically added here -->
        </select>
    </div>

    <div>
        <label for="employee-first-name-input">First Name:</label>
        <input type="text" id="item-name-input" placeholder="Enter first name">
    </div>

    <div>
        <label for="employee-last-name-input">Last Name:</label>
        <input type="text" id="item-name-input" placeholder="Enter last name">
    </div>


    <div>
        <label for="image-input">Image Url:</label>
        <input type="text" id="image-input" placeholder="Enter image URL">
    </div>
    
    <button id="create-button">Create</button>
    <button id="update-button">Update</button>

    <script type="module" src="../js/employeeModify.js"></script>
</body>

</html>
