<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Interface</title>
    <link rel="stylesheet" href="../css/manager.css">
</head>
<body>
    <header>
        <nav>
            <img src="logo.png" alt="Farm to Table Logo">
            <ul class="nav-links">
    <li><a href="menu.html">Menu Management</a></li>
    <li><a href="employee-management.html">Employee Management</a></li>
    <li><a href="scheduling.html">Scheduling</a></li>
    <li><a href="additional-responsibilities.html">Additional Responsibilities</a></li>
</ul>
            
			
			<div class="user-options">
                <button id="Log out">Log out</button>
                <button class="manager-button" id="managerButton">
                    <span class="person-icon">🤵</span> Manager
                </button>
            </div>
        </nav>
    </header>

    <!-- Welcome message and image -->
    <section class="welcome-section">
        <h2>Welcome John !</h2>
        <img src="welcome.png" alt="welcome">
    </section>

       
    <footer>
        <p>&copy; 2023 Farm to Table Restaurant</p>
    </footer>

    <script src="manager.js"></script>
</body>
</html>
