<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Interface - Farm to Table Restaurant</title>
    <link rel="stylesheet" href="../css/manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <h1></h1>
            <img src="../assets/logo.png" alt="Farm logo">
        </div>

        <h2>Welcome to the Restaurant Management !</h2>
        <div class="icons">
            <a href="logout.html" class="logout-button">
                <i class="fas fa-user"></i> Log Out
            </a>
        </div>
    </header>


    <section class="Options">
        
        <div class="nav-container">
        <ul class="home-page-ul">
            <li> 
                <a href="menu.html">
                    <i class="fas fa-utensils fa-lg"></i> Menu Management
                </a>
           </li>
            <li>
                <a href="employeeManagement.html">
                    <i class="fas fa-users fa-lg"></i> Employee Management
                </a>
            </li>
            <li>
                <a href="financialManagement.html">
                    <i class="fas fa-money-bill-wave fa-lg"></i> Financial Management
                </a>
            </li>
        </ul>
    </div>
    </section>
</body>
</html>
