<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/employee.css">

    <title>Menu Items Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/employee.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<header>
    <nav>
        <a href="employeeHomePage.html"><img src="../assets/logo.png" alt="Farm to Table Logo"></a>
        <ul class="nav-links">
            <li><a href="employeeHomePage.html">Home</a></li>
            <li><a href="managerHome.html">Functions</a></li>
            <li><a href="orderChecks.html">Orders</a></li>
            <li><a href="viewMenu2.html">Menu</a></li>
            <li><a href="serverinterface2.html">Server</a></li>
        </ul>
    </nav>
</header>

    <div id="all-items-list" class="all-items-list">
        <h2>Menu Items</h2>
        <ul id="menu-items-list"></ul>
        <!-- Menu items will be added to list here -->
        <!-- Loading spinner -->
        <div id="loading" class="loading">
            <img id="loading-image" class="loading-image" src="../assets/loading.gif" alt="Loading..." />
        </div>
    </div>
    <br>
    <div id="manage-menu-items" class="manage-items">
        <h3>Manage Menu Items</h3>
        <label for="menu-item-dropdown">Select Menu Item:</label>
        <select id="menu-item-dropdown">
            <option value="">Create new item</option>
            <!-- Menu items will be dynamically added here -->
        </select>
    </div>

    <div>
        <label for="item-name-input">Item Name:</label>
        <input type="text" id="item-name-input" placeholder="Enter item name">
    </div>

    <div>
        <label for="description-input">Description:</label>
        <input type="text" id="description-input" placeholder="Enter item description">
    </div>

    <div>
        <label for="price-input">Price:</label>
        <input type="number" step="0.01" id="price-input" placeholder="Enter item price">
    </div>

    <div>
        <label for="image-input">Image Url:</label>
        <input type="text" id="image-input" placeholder="Enter image URL">
    </div>

    <div>
        <label for="category-input">Category:</label>
        <input type="text" id="category-input" placeholder="Enter category">
    </div>

    <div>
        <label for="calories-input">Calories:</label>
        <input type="text" id="calories-input" placeholder="Enter calories">
    </div>
    
    <button id="create-button">Create</button>
    <button id="update-button">Update</button>
    <button id="delete-button">Delete</button>

    <script type="module" src="../js/menuItemsModify.js"></script>
</body>

</html>
