<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farm to Table: Order Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.4.2/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
        <img src="../assets/logo.png" alt="logo" style="width:100px;" class=""> 
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-mug-hot"></i>Beverages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-bacon"></i>Breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-stroopwafel"></i>Appetizers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-burger"></i>Burgers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-bread-slice"></i>Sandwiches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-steak"></i><i class="fa-solid fa-bowl-food"></i>Entrees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-candy-cane"></i>Kids Menu</a>
        </li>
      </ul>
      <button type="button" class="btn btn-danger"><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <h3>Beverages</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lemonade</h5>
        <p class="card-text">100/120 Cal</p>
        <p class="card-text">Sip on classic lemonade, a timeless refreshment blending freshly squeezed lemons and pure sweetness in every gulp.<p>
        <p class="card-text">Sip on classic lemonade, a timeless refreshment blending freshly squeezed lemons and pure sweetness in every gulp.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Strawberry Lemonade</h5>
        <p class="card-text">120/150 Cal</p>
        <p class="card-text">Savor the vibrant blend of ripe strawberries and tangy lemons in this refreshing symphony of fruity sweetness and citrus zest</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Iced Tea</h5>
        <p class="card-text">0/5 Cal</p>
        <p class="card-text">Savor the refreshing fusion of chilled tea leaves, crafting a cool and invigorating elixir that whispers of relaxation with each sip.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coffee</h5>
        <p class="card-text">2 Cal</p>
        <p class="card-text">Embrace the rich, comforting depths of coffee, a sip that fuels and invigorates.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Decaf Coffee</h5>
        <p class="card-text">2 Cal</p>
        <p class="card-text">Embrace the rich, comforting depths of decaf coffee, a sip that fuels and invigorates.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Orange Juice</h5>
        <p class="card-text">110/120 Cal</p>
        <p class="card-text">
          Experience the vibrant zest of sunshine in a glass with orange juice, a pure burst of citrus joy that refreshes with every sip.</p>
          <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coke</h5>
        <p class="card-text">140/150 Cal</p>
        <p class="card-text">Savor the effervescent delight of Coca-Cola.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Diet Coke</h5>
        <p class="card-text">0 Cal</p>
        <p class="card-text">Savor the effervescent delight of diet Coca-Cola.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>2.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <h3>Breakfast</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sunrise Bliss Bowl</h5>
        <p class="card-text">250-300 Cal</p>
        <p class="card-text">Greek yogurt (1 cup) topped with mixed berries (½ cup), a sprinkle of granola (¼ cup), and a drizzle of honey.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Savory Morning Medley</h5>
        <p class="card-text">300-350 Cal</p>
        <p class="card-text">2 eggs with sautéed spinach (1 cup) and diced tomatoes (½ cup), served with whole-grain toast (1 slice).</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Zen Garden Omelette</h5>
        <p class="card-text">280-320 Cal</p>
        <p class="card-text">Egg white omelette filled with diced bell peppers, mushrooms, and spinach, served with a side of sliced avocado and a small fruit salad.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <h3>Appetizers</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Savory Spinach Spirals</h5>
        <p class="card-text">200/250 Cal</p>
        <p class="card-text">Flaky puff pastry filled with a delicious blend of spinach, feta cheese, and aromatic herbs. Baked to perfection and served with a tangy tzatziki dipping sauce.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Crispy Quinoa Quenelles</h5>
        <p class="card-text">200/250 Cal</p>
        <p class="card-text">Quinoa and vegetable fritters shaped into elegant quenelle forms, lightly fried until golden brown. Served with a zesty roasted red pepper aioli for a delightful burst of flavor.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mango Tango Bruschetta:</h5>
        <p class="card-text">200/250 Cal</p>
        <p class="card-text">Toasted baguette slices topped with a vibrant salsa of diced mango, cherry tomatoes, red onion, and cilantro, finished with a hint of lime. A refreshing and tropical twist on traditional bruschetta.</p>
        <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>12.99</p>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
    <h3>Burgers</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Savory Stackmaster</h5>
            <p class="card-text">500/600 Cal</p>
            <p class="card-text"> Layers of sliced deli meats (ham, turkey, salami), cheeses, lettuce, tomatoes, and a spread on multi-grain bread.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mushroom Melt Marvel</h5>
            <p class="card-text">400/500 Cal</p>
            <p class="card-text">Sautéed mushrooms, Swiss cheese, and a creamy sauce on grilled bread.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spicy Southwest Fiesta Burger</h5>
            <p class="card-text">550/650 Cal</p>
            <p class="card-text"> Spicy beef or plant-based burger patty with pepper jack cheese, salsa, guacamole, and jalapeños on a bun.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Sandwiches</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Balsamic Bliss Caprese Melt</h5>
            <p class="card-text">400/500 Cal</p>
            <p class="card-text">Sliced tomatoes, fresh mozzarella, basil leaves, and a balsamic glaze on grilled bread.</p>
            <p class="card-text">8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pesto Passion Chicken Panini</h5>
            <p class="card-text">450/550 Cal</p>
            <p class="card-text"> Grilled chicken breast, pesto sauce, roasted red peppers, and mozzarella cheese on pressed panini bread.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Maple Dijon Turkey Clubwich</h5>
            <p class="card-text">500/600 Cal</p>
            <p class="card-text">Sliced turkey, bacon, lettuce, tomato, and mayo on toasted bread with a maple Dijon spread.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Entrees</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mystic Maple Glazed Salmon</h5>
            <p class="card-text">300/350 Cal</p>
            <p class="card-text">Baked or grilled salmon fillet (6 oz) glazed with a maple syrup, Dijon mustard, and soy sauce mixture.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Saffron Harvest Risotto</h5>
            <p class="card-text">250/300 Cal</p>
            <p class="card-text">Arborio rice (1 cup) cooked with saffron, vegetable broth, onions, garlic, and seasonal vegetables (such as butternut squash, peas, and carrots).</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zesty Chimichurri Grilled Chicken</h5>
            <p class="card-text">280/320 Cal</p>
            <p class="card-text">Grilled chicken breast (6 oz) marinated in a zesty chimichurri sauce made with herbs, garlic, olive oil, and vinegar</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>8.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Kids Menu</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cheesy Galaxy Rockets:</h5>
            <p class="card-text">120/150 Cal</p>
            <p class="card-text">Crispy mozzarella sticks served with a side of "cosmic" marinara dipping sauce. These cheesy delights are perfect for little ones with big imaginations.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>4.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dino-nugget Delight</h5>
            <p class="card-text">150/170 Cal</p>
            <p class="card-text">Crunchy dinosaur-shaped chicken nuggets accompanied by "prehistoric" sweet potato fries and a side of veggie sticks. A playful and tasty trip back in time!</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>4.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rainbow Unicorn Pasta</h5>
            <p class="card-text">200/250 Cal</p>
            <p class="card-text">Colorful pasta twists tossed in a creamy alfredo sauce, adorned with unicorn-shaped mini meatballs and a sprinkle of edible glitter. A magical and delightful dish for the young ones.</p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>4.99</p>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-bag-shopping"></i></button>
          </div>
        </div>
      </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/064cee087c.js" crossorigin="anonymous"></script>
</html>