<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farm to Table: Order Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.4.2/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
        <img src="../assets/logo.png" alt="logo" style="width:100px;" class=""> 
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-mug-hot"></i>Beverages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-mug-hot"></i>Breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-ice-cream"></i>Appetizers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-burger"></i>Burgers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-burger"></i>Sandwiches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-steak"></i><i class="fa-solid fa-bowl-food"></i>Entrees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-steak"></i><i class="fa-solid fa-bowl-food"></i>Kids Menu</a>
        </li>
      </ul>
      <button type="button" class="btn btn-danger"><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <h3>Beverages</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lemonade</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Strawberry Lemonade</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Iced Tea</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coffee</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Orange Juice</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Orange Juice</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coke</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Diet Coke</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <h3>Breakfast</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Soda</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coffee</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Juice</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <h3>Appetizers</h3>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Savory Spinach Spirals</h5>
        <p class="card-text">Flaky puff pastry filled with a delicious blend of spinach, feta cheese, and aromatic herbs. Baked to perfection and served with a tangy tzatziki dipping sauce.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Crispy Quinoa Quenelles</h5>
        <p class="card-text">Quinoa and vegetable fritters shaped into elegant quenelle forms, lightly fried until golden brown. Served with a zesty roasted red pepper aioli for a delightful burst of flavor.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mango Tango Bruschetta:</h5>
        <p class="card-text">Toasted baguette slices topped with a vibrant salsa of diced mango, cherry tomatoes, red onion, and cilantro, finished with a hint of lime. A refreshing and tropical twist on traditional bruschetta.</p>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
    <h3>Burgers</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Savory Stackmaster</h5>
            <p class="card-text">A classic beef patty seasoned to perfection, topped with melted sharp cheddar, crispy bacon, caramelized onions, and a zesty barbecue aioli. Served on a toasted brioche bun.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mushroom Melt Marvel</h5>
            <p class="card-text">Juicy turkey patty infused with savory herbs, smothered in a creamy blend of Swiss and provolone cheeses, and piled high with sautéed garlic mushrooms. Nestled between a soft, whole-grain artisan bun.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spicy Southwest Fiesta Burger</h5>
            <p class="card-text">A bold combination of a black bean and quinoa patty, layered with pepper jack cheese, fresh guacamole, chipotle mayo, and crunchy tortilla strips. All embraced by a lightly toasted jalapeño-infused ciabatta roll.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Sandwiches</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Balsamic Bliss Caprese Melt</h5>
            <p class="card-text">Fresh mozzarella, ripe tomatoes, and basil leaves drizzled with balsamic glaze, hugged between slices of warm ciabatta bread and lightly grilled for a gooey, flavor-packed experience.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pesto Passion Chicken Panini</h5>
            <p class="card-text">Grilled chicken breast paired with sun-dried tomatoes, melted provolone, and a generous spread of basil pesto, all pressed between slices of artisan rosemary focaccia.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Maple Dijon Turkey Clubwich</h5>
            <p class="card-text">Thinly sliced turkey layered with crispy bacon, sharp cheddar, lettuce, and tomato, with a delightful twist of maple Dijon mustard. This delectable combination is served on toasted multigrain bread.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Entrees</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mystic Maple Glazed Salmon</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Saffron Harvest Risotto</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zesty Chimichurri Grilled Chicken</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid mt-3">
    <h3>Kids Menu</h3>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cheesy Galaxy Rockets:</h5>
            <p class="card-text">Crispy mozzarella sticks served with a side of "cosmic" marinara dipping sauce. These cheesy delights are perfect for little ones with big imaginations.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dino-nugget Delight</h5>
            <p class="card-text">Crunchy dinosaur-shaped chicken nuggets accompanied by "prehistoric" sweet potato fries and a side of veggie sticks. A playful and tasty trip back in time!</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rainbow Unicorn Pasta</h5>
            <p class="card-text">Colorful pasta twists tossed in a creamy alfredo sauce, adorned with unicorn-shaped mini meatballs and a sprinkle of edible glitter. A magical and delightful dish for the young ones.</p>
            <button type="button" class="btn btn-dark">Add to bag</button>
          </div>
        </div>
      </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/064cee087c.js" crossorigin="anonymous"></script>
</html>