<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm to Table Restaurant</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="js/serverInterfaceScript.js" defer></script>
</head>

<body onload="defaultHide()">

    <header>
        <nav>
            <!-- <div class="logo">Farm to Table</div> -->
            <img src="assets/logo.png" alt="Farm to Table Logo">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="user-options">
                <button id="login-btn">Log In</button>
                <button id="employee-btn" href="employee.html">Employee</button>
            </div>
        </nav>
    </header>

    <main>
        <div>
          <br><br>
          <ul class="list-group list-group-flush">
                <li id="Table 1" class="list-group-item">Table 1
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Waiting for Order</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 1')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 1')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 1')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 1')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 2" class="list-group-item">Table 2
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Waiting for Order</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 2')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 2')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 2')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 2')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 3" class="list-group-item">Table 3
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Table Empty</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 3')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 3')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 3')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 3')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 4" class="list-group-item">Table 4
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ready To Serve</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 4')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 4')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 4')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 4')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 5" class="list-group-item">Table 5
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Waiting for Order</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 5')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 5')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 5')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 5')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 6" class="list-group-item">Table 6
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Preparing Meal</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 6')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 6')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 6')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 6')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 7" class="list-group-item">Table 7
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Table Empty</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 7')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 7')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 7')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 7')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 8" class="list-group-item">Table 8
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ready To Serve</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 8')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 8')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 8')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 8')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 9" class="list-group-item">Table 9
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Table Empty</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 9')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 9')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 9')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 9')">Table Empty</a></li>
                    </ul>
                </li>
                <li id="Table 10" class="list-group-item">Table 10
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Preparing Meal</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item PrepareMeal" href="#" onclick="changetoPrepareMeal('Table 10')">Preparing Meal</a></li>
                        <li><a class="dropdown-item readyToServe" href="#" onclick="changetoReadyToServe('Table 10')">Ready to Serve</a></li>
                        <li><a class="dropdown-item WaitingForOrder" href="#" onclick="changetoWaitingforOrder('Table 10')">Waiting for Order</a></li>
                        <li><a class="dropdown-item EmptyTable" href="#" onclick="changetoEmptyTable('Table 10')">Table Empty</a></li>
                    </ul>
                </li>
          </ul>
        </div>
    
      </main>
</body>
</html>