<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farm to Table: View Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.4.2/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="employeeHomePage.html">
          <img src="../assets/logo.png" alt="logo" style="width:100px;" class=""> 
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link" href="#beverages"><i class="fa-solid fa-mug-hot"></i>Beverages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#breakfast"><i class="fa-solid fa-bacon"></i>Breakfast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#appetizers"><i class="fa-solid fa-stroopwafel"></i>Appetizers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#burgers"><i class="fa-solid fa-burger"></i>Burgers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sandwiches"><i class="fa-solid fa-bread-slice"></i>Sandwiches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#entrees"><i class="fa-solid fa-steak"></i><i class="fa-solid fa-bowl-food"></i>Entrees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#kids"><i class="fa-solid fa-candy-cane"></i>Kids Menu</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
       <h3 id="breakfast">Beverages</h3>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lemonade</h5>
            <p class="card-calories">100/120 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>2.99</span>
            <br>
            <br>
            <q class="card-description">Sip on classic lemonade or strawberry lemonade, a timeless refreshment blending freshly squeezed lemons and pure sweetness in every gulp.</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Juice</h5>
            <p class="card-calories">110/120 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>2.99</span>
            <br>
            <br>
            <q class="card-description">Experience the vibrant zest of sunshine in a glass with orange juice or apple juice, a pure burst of citrus joy that refreshes with every sip.</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Soda</h5>
            <p class="card-calories">140/150 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>2.99</span>
            <br>
            <br>
            <q class="card-description">Savor the effervescent delight of coke, diet coke, sprite, fanta, or fresca </q>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>2.99</span>
          </div>
        </div>
      </div>
     
    <div class="row">
      <h3 id="breakfast">Breakfast </h3>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sunrise Bliss Bowl</h5>
            <p class="card-calories">250-300 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>11.99</span>
            <br>
            <br>
            <q class="card-description">Greek yogurt (1 cup) topped with mixed berries (½ cup), a sprinkle of granola (¼ cup), and a drizzle of honey.</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Savory Morning Medley</h5>
            <p class="card-calories">300-350 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>11.99</span>
            <br>
            <br>
            <q class="card-description">2 eggs with sautéed spinach (1 cup) and diced tomatoes (½ cup), served with whole-grain toast (1 slice).</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zen Garden Omelette</h5>
            <p class="card-calories">280-320 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>11.99</span>
            <br>
            <br>
            <q class="card-description">Egg white omelette filled with diced bell peppers, mushrooms, and spinach, served with a side of sliced avocado and a small fruit salad.</q>
          </div>
        </div>
      </div>
      </div>

    <div class="row">
      <h3 id="appetizers">Appetizers</h3>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Savory Spinach Spirals</h5>
            <p class="card-calories">200/250 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>7.99</span>
            <br>
            <br>
            <q class="card-description">Flaky puff pastry filled with a delicious blend of spinach, feta cheese, and aromatic herbs. Baked to perfection and served with a tangy tzatziki dipping sauce.</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Crispy Quinoa Quenelles</h5>
            <p class="card-calories">200/250 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>7.99</span>
            <br>
            <br>
            <q class="card-description">Quinoa and vegetable fritters shaped into elegant quenelle forms, lightly fried until golden brown. Served with a zesty roasted red pepper aioli for a delightful burst of flavor.</q>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
          <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mango Tango Bruschetta:</h5>
            <p class="card-calories">200/250 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>7.99</span>
            <br>
            <br>
            <q class="card-description">Toasted baguette slices topped with a vibrant salsa of diced mango, cherry tomatoes, red onion, and cilantro, finished with a hint of lime. A refreshing and tropical twist on traditional bruschetta.</q>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <h3 id="burgers">Burgers</h3>
        <div class="col-sm-4">
            <div class="card">
              <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Savory Stackmaster</h5>
                <p class="card-calories">500/600 Cal</p>
                <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
                <br>
                <br>
                <q class="card-description"> Layers of sliced deli meats (ham, turkey, salami), cheeses, lettuce, tomatoes, and a spread on multi-grain bread.</q>
                
              </div>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mushroom Melt Marvel</h5>
              <p class="card-calories">400/500 Cal</p>
              <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
              <br>
              <br>
              <q class="card-description">Sautéed mushrooms, Swiss cheese, and a creamy sauce on grilled bread.</q>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Spicy Southwest Fiesta Burger</h5>
              <p class="card-calories">550/650 Cal</p>
              <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
              <br>
              <br>
              <q class="card-description"> Spicy beef or plant-based burger patty with pepper jack cheese, salsa, guacamole, and jalapeños on a bun.</q>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <h3 id="sandwiches">Sandwiches</h3>
      <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Balsamic Bliss Caprese Melt</h5>
              <p class="card-calories">400/500 Cal</p>
              <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
              <br>
              <br>
              <q class="card-description">Sliced tomatoes, fresh mozzarella, basil leaves, and a balsamic glaze on grilled bread.</q>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pesto Passion Chicken Panini</h5>
            <p class="card-calories">450/550 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
              <br>
              <br>
            <q class="card-description"> Grilled chicken breast, pesto sauce, roasted red peppers, and mozzarella cheese on pressed panini bread.</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Maple Dijon Turkey Clubwich</h5>
            <p class="card-calories">500/600 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>9.99</span>
            <br>
            <br>
            <q class="card-description">Sliced turkey, bacon, lettuce, tomato, and mayo on toasted bread with a maple Dijon spread.</q>
          </div>
        </div>
      </div>  
    </div>

    <div class="row">
      <h3 id="entrees">Entrees</h3>
      <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mystic Maple Glazed Salmon</h5>
              <p class="card-calories">300/350 Cal</p>
              <span class="price"><i class="fa-solid fa-dollar-sign"></i>14.99</span>
              <br>
              <br>
              <q class="card-description">Baked or grilled salmon fillet (6 oz) glazed with a maple syrup, Dijon mustard, and soy sauce mixture.</q>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Saffron Harvest Risotto</h5>
            <p class="card-calories">250/300 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>14.99</span>
            <br>
            <br>
            <q class="card-description">Arborio rice (1 cup) cooked with saffron, vegetable broth, onions, garlic, and seasonal vegetables (such as butternut squash, peas, and carrots).</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zesty Chimichurri Grilled Chicken</h5>
            <p class="card-calories">280/320 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>14.99</span>
            <br>
            <br>
            <q class="card-description">Grilled chicken breast (6 oz) marinated in a zesty chimichurri sauce made with herbs, garlic, olive oil, and vinegar</q>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h3 id="kids">Kids Menu</h3>
      <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cheesy Galaxy Rockets:</h5>
              <p class="card-calories">120/150 Cal</p>
              <span class="price"><i class="fa-solid fa-dollar-sign"></i>3.99</span>
              <br>
              <br>
              <q class="card-description">Crispy mozzarella sticks served with a side of "cosmic" marinara dipping sauce. These cheesy delights are perfect for little ones with big imaginations.</q>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dino-nugget Delight</h5>
            <p class="card-calories">150/170 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>3.99</span>
            <br>
            <br>
            <q class="card-description">Crunchy dinosaur-shaped chicken nuggets accompanied by "prehistoric" sweet potato fries and a side of veggie sticks. A playful and tasty trip back in time!</q>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1600x900" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rainbow Unicorn Pasta</h5>
            <p class="card-calories">200/250 Cal</p>
            <span class="price"><i class="fa-solid fa-dollar-sign"></i>3.99</span>
            <br>
            <br>
            <q class="card-description">Colorful pasta twists tossed in a creamy alfredo sauce, adorned with unicorn-shaped mini meatballs and a sprinkle of edible glitter. A magical and delightful dish for the young ones.</q>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="footer">
    <div class="text">
        <h2 id="contact">Contact us</h2>
        <p><i class="fa fa-map-marker"></i> Hays, Ks</p>
        <p><i class="fa fa-mobile"></i> Phone: 123-456-7890 </p>
        <p><i class="fa fa-envelope"></i> Email: farmtotable@gmail.com</p>
        <p>&copy; 2023 Farm To Table. All rights reserved.</p>
    </div> 
</div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/064cee087c.js" crossorigin="anonymous"></script>
<script type="module" src="js/menuItems.js"></script>
</html>